<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyContacts</title>
</head>
<body>
<h1 th:text="#{title}"></h1>
<h3 th:text="#{addContact}"></h3>
<form method="post" th:object="${contactViewModel}">
    <div>
        <label for="name" th:text="#{nameLabel}"></label>
        <input id="name" type="text" th:field="*{name}">
        <label for="phone" th:text="#{phoneLabel}"></label>
        <input id="phone" type="text"  th:field="*{phone}">
    </div>
    <button type="submit" th:text="#{confirmButton}"></button>
</form>
</body>
</html>